    <div class="container colored centered">
    <h1>Gene Expression Visualizer</h1>
    </div>
    <div class="container"><button onclick='goBack();' class="buttonNew">Back</button></div>
   <div class="container">
   <h3>No significant pathway found</h3>
   </div>


<script>
function goBack() {
    window.history.back();
}
</script>