<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="stylesheet/style.css">
<!-- 	<link rel="stylesheet" type="text/css" href="/Users/ragyhaddad/Desktop/WebDev/dva_project/public/stylesheets"> -->
</head>
<body>
<div class="container">
<table>
	<th>Probe ID</th>
	<th>Gene Symbol</th>
	<th>GenBank Accession</th>
	<th>Adjusted p-value</th>
</table>
</div>
</body>
</html>

